@model DataGov_API.Models.Parks

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (DataGov_API.Models.Park park in Model.data)
{
    @(park.parkCode + " " + park.fullName + " " + park.latLong)
    <br />
}



<a href="https://www.google.com/travel/flights/search?tfs=CBwQAhopag0IAhIJL20vMGdwNzF4EgoyMDIxLTA2LTEzcgwIAhIIL20vMGdxa2QaKWoMCAISCC9tLzBncWtkEgoyMDIxLTA2LTE3cg0IAhIJL20vMGdwNzF4cAGCAQsI____________AUABSAGYAQE">Trip to Japan?</a>

